backcall==0.1.0
boto3==1.18.22
botocore==1.21.22
certifi==2019.11.28
decorator==4.4.1
dnspython==2.0.0
fitlog==0.9.13
Flask==2.0.1
gitdb==4.0.7
GitPython==3.1.18
huggingface-hub==0.0.12
Jinja2==3.0.1
numpy==1.17.4
overrides==6.1.0
parso==0.5.2
pkginfo==1.5.0.1
protobuf==3.17.3
psutil==5.7.2
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.5.2
pyOpenSSL==19.0.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.2
python-etcd==0.4.5
pytz==2019.3
PyYAML==5.3.1
regex==2021.8.3
requests==2.22.0
ruamel-yaml==0.15.87
s3transfer==0.5.0
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.7.1
sentencepiece==0.1.96
seqeval==1.2.2
six==1.12.0
smmap==4.0.0
soupsieve==1.9.5
tensorboardX==2.4
threadpoolctl==2.2.0
tokenizers==0.5.2
tqdm==4.36.1
traitlets==4.3.3
transformers==2.8.0
typing-extensions==3.10.0.0
typing-utils==0.1.0
wcwidth==0.1.7
Werkzeug==2.0.1
wheel==0.34.2
zipp==3.5.0